
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }

  .links {
    display: flex;
    text-align:right;
}

.links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align:left;
  
  }
  
  .links a {
    text-decoration: none;
    color: #d77927;
    font-weight: bold;
   
  }